body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.output {
    margin-top: 20px;
    display: flex;
}

#outputId, #stationInfoId {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#stationInfoId {
    margin-right: 0;
}

h2 {
    margin: 0 0 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cp-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ui.negative.message {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 4px;
}
canvas {
    max-width: 70%; 
    height: auto;   
    margin-bottom: 20px; 
}
.output {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
}
